---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Hi! I'm Kuvee. This is my personal blog where I share my thoughts, writeups, and research on cybersecurity. Most posts focus on CTF challenges, especially pwn – my favorite field. Hope you find something useful here ^^
        </p>
      </div>
    </div>
  </section>
</Layout>
